#g-feature {
    position: relative;
    color: $feature-text-color;
    background: $feature-background;
    .g-grid {
        @include align-items(center);
    }
}

@media print {
    #g-feature {
        background: #fff !important;
        color: #000 !important;
    }
}
