#g-slideshow {
    color: $slideshow-text-color;
    background: $slideshow-background;
    height: 100%;
    position: relative;

    @if $slideshow-background-image {
        background: $slideshow-background url($slideshow-background-image) no-repeat;
        background-size: cover;

        @include breakpoint(mobile-only) {
          background-size: cover;
      }
  }

  &.blurred {
    background: none;
  }

    padding-top: $content-padding * 9;

    .g-simplecontent-item {
        &.g-simplecontent-layout-header {
            @include display(flex);
            @include align-items(flex-end);
            @include breakpoint(mobile-only) {
                display: block;
                text-align: center;
            } 
        }
    }
    .g-simplecontent-item-leading-content {
        @include responsive-font($responsive-font-size, $core-font-size - 0.1, false, false);
        margin-left: $content-padding * 3;
        @include breakpoint(mobile-only) {
            margin-left: 0;
        }
        flex: 2;
        color: $white;
    }
    .g-simplecontent-item-content-title {
        @include responsive-font($responsive-font-size + 2.5, $core-font-size + 0.8, false, false);
         flex: 1;

    }

    &:before {
        position: absolute;
        content: '';
        width: 100%;
        bottom: 0;
        height: 60%;
        @include background-image(linear-gradient(top, transparentize($accent-color-1, 100%) 0%, $accent-color-1 100%));
        left: 0;
        z-index: 0;
    }

    .g-grid {
        position: relative;
        z-index: 1;
    }
}

#g-particles-slideshow {
    background: white;
}

@media print {
    #g-slideshow {
        background: #fff !important;
        color: #000 !important;
    }
}
